<nav class="side-nav-offset sidebar" [ngbCollapse]="navCollaps" id="sideNav">
  <ul class="list-group">
    <span *ngFor="let menu of menuList">
      <li class="nav-group-item" [ngClass]="{active: isActive(menu.name)}" *ngIf="hasAuthority(menu.authority)" (click)="menu.url.length > 0 ? navigateTo(menu.url) : null;">

        <div class="row">
          <div class="col" (click)="select(menu.name)">
            <i class="fa" [ngClass]="menu.icon"></i> {{menu.name}}
          </div>
          <small class="pull-right px-2" *ngIf="menu.secondMeu.length > 0">
            <i class="fa" [ngClass]="isActive(menu.name)?'fa-minus':'fa-plus'" (click)="minimize(menu.name)"></i>
          </small>
        </div>

        <ul class="list-group">
          <span *ngFor="let child of menu.secondMeu">
            <li style="display:none;" *ngIf="hasAuthority(child.authority)" (click)="child.url.length > 0 ? navigateTo(child.url) : null "
              class="nav-group-item first pl-3" [ngClass]="{selected: child.url == navUrl}">
              <i class="fa" [ngClass]="child.icon"></i>&nbsp;
              <span>{{ child.name }} </span>
            </li>
          </span>
        </ul>

      </li>
    </span>
  </ul>
</nav>