<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-3 ">
      <div class="info-box">
        <div class="info-box-left">
          <i class="fa fa-users orange-color"></i> Students
        </div>
        <div class="info-box-right">
          1234
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-box">
        <div class="info-box-left">
          <i class="fa fa-user-md light-blue"></i> Teachers
        </div>
        <div class="info-box-right">
          1234
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-box">
        <div class="info-box-left">
          <i class="fa fa-user-secret lemon"></i> Parents
        </div>
        <div class="info-box-right">
          1234
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-box">
        <div class="info-box-left">
          <i class="fa fa-money fuchsia"></i> Total earnings
        </div>
        <div class="info-box-right">
          $1,234
        </div>
      </div>
    </div>
  </div>
</div>