.info-box {
  display: flex;
  height: 100px;
  padding: 15px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  &-left {
    width: 50%;
    font-size: 15px;
    font-weight: 200;
    border-right: 1px solid Turquoise;
    & i {
      display: block;
      font-size: 50px;
    }
  }
  &-right {
    width: 50%;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
  }
}

.orange-color {
  color: orange;
}
.light-blue {
  color: rgb(134, 127, 238);
}
.lemon {
  color: lime;
}
.fuchsia {
  color: Fuchsia;
}
